/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
html, body{
	overflow-x: hidden;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.6)), to(rgba(4, 9, 30, 0.6))), url(images/banner-min.jpg);
	background-image: -o-linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(images/banner-min.jpg);
	background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(images/banner-min.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2% 6%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
nav a{
	height: 100%;
	width: 100%;
	display: inline-block;
}
.company-logo{
	min-width: 130px;
	align-content: center;
	padding: 8px 12px;
}
.nav-links{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: white;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: "";
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1{
	font-size: 62px;
}
.text-box-company-name{
	color: #ffa7a1;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 5px #333;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

nav .fa{
	display: none;
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44226;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: white;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
}



/*------------course---------------*/
.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display:  -webkit-box;
	display:  -ms-flexbox;
	display:  flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.course-col{
	-ms-flex-preferred-size: 31%;
	    flex-basis: 31%;
	background:  #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.course-col:hover{
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
@media(max-width: 700px){
	.row{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
/*------------Top---------------*/
.top{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top:  50px;
}
.top-col{
	-ms-flex-preferred-size: 32%;
	    flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.top-col img{
	width: 100%;
	display: block;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(226, 0, 0, 0.5);
}
.layer h3{
	font-size: 22px;
	font-weight: 500;
}
.layer p{
	font-size: 16px;
	font-weight: 800;
}
.layer h3, .layer p{
	width: 100%;
	color: white;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}
.layer:hover p{
	bottom: 44%;
	opacity: 1;
}

/*------------Blog---------------*/
.blog{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.blog-col{
	-ms-flex-preferred-size: 32%;
	    flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}
.blog-col img{
	width: 100%;
	border-radius: 10px;
}
.blog-col p{
	padding: 0;
}
.blog h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}
/*------------testimonials---------------*/
.testimonials{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100 px;
}

.testimonial-col{
	-ms-flex-preferred-size: 48%;
	    flex-basis: 48%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff3f3;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 25px;
}
.testimonial-col:first-child{
	margin-right: 25px;
}
.testimonial-col p{
	padding: 10px 0;
}
.testimonial__pic{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.testimonial-col img{
	height: 105%;
}
.testimonial__author{
	margin: auto 0 0 0;
}
.testimonial-col h3{
	margin-top: 10px;
	text-align: left;
}
.testimonial-col .fa{
	color: #fff3f3;
}
/*------------cta---------------*/
.cta{
	margin: 100px auto;
	width: 80%;
	background: -webkit-gradient(linear,
	 left top, left bottom,
	 from(rgba(0,0,0,0.5)),
	 to(rgba(0, 0, 0, 0.5))), url(images/banner2.jpg);
	background: -o-linear-gradient(rgba(0,0,0,0.5),
	 rgba(0, 0, 0, 0.5)), url(images/banner2.jpg);
	background: linear-gradient(rgba(0,0,0,0.5),
	 rgba(0, 0, 0, 0.5)), url(images/banner2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.cta h1{
	color: white;
	margin-bottom: 40px;
	padding: 0;
}
@media(max-width: 700px){
	.cta h1{
		font-size: 20px;
	}
}


/*---------Footer----------*/
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.icons .fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
.fa-heart-o{
	color: #f44336;
}

/*--------------About Us----------------*/
.sub-header{
	height: 50vh;
	width: 100%;
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(4, 9, 30, 0.7)),to(rgba(4, 9, 30, 0.7))), url(images/4.jpg);
	background-image: -o-linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/4.jpg);
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/4.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: white;
}
.sub-header h1{
	margin-top: 100px;
}
.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}
.about-col{
	-ms-flex-preferred-size: 48%;
	    flex-basis: 48%;
	padding: 30px 2px;
}
.about-col img{
	width: 100%;
	max-height: 400px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.about-col p{
	padding: 15px 0 25px;
	font-size: 14px;
}
.red-btn{
	border: 1px solid #f44336;
	background: transparent;
	color: #f44336;
	margin: auto;
}
.red-btn:hover{
	color: white;
}
.google-map h2{
	text-align: center;
}

.google-map iframe{
	width: 100%;
	margin: 30px auto;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}