@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
		body{
			background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner-3-min.jpg);
			background-position: center;
			background-size: cover;
		}
		.contact-header{
			width:100%;
			padding: 5px;
			background-color: rgba(20, 20, 50, 0.6) ;
		}
		#contact-container{
			box-sizing: border-box;
			padding: 0 10px;
			margin: 0 0 80px 0;
			padding: 0;
		}
		.wrapper{
			max-width: 500px;
			width: 100%;
			background: #fff;
			margin: 20px auto;
			padding: 30px;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
			font-family: 'Montserrat', sans-serif;
		}
		.wrapper .title{
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 25px;
			color: #f44336;
			text-transform: uppercase;
			text-align: center;
		}
		.wrapper form{
			width: 100%;
		}
		.wrapper form .input-field{
			margin-bottom: 15px;
			display: flex;
			align-items: center;
		}
		.wrapper form .input-field label{
			width: 200px;
			color: #757575;
			margin-right: 10px;
		}
		.wrapper form .input-field .input,
		.wrapper form .input-field textarea{
			width: 100%;
			outline: none;
			border: 1px solid #d5dbd9;
			font-size: 15px;
			padding: 8px 10px;
			border-radius: 3px;
			transition: all 0.3 ease;
		}
		.wrapper form .input-field textarea{
			resize: none;
			height: 125px;
		}
		.wrapper form .input-field .custom-select{
			position: relative;
			width: 100%;
			height: 37px;
		}
		.wrapper form .input-field .custom-select select{
			width: 100%;
			height: 100%;
			-webkit-appearance: none;
			appearance: none;
			outline: none;
			border: 1px solid #d5dbd9;
			border-radius: 3px;
			padding: 8px 10px;
			cursor: pointer;
		}
		.wrapper form .input-field .custom-select:before{
			content: "";
			position: absolute;
			top: 12px;
			right: 10px;
			border: 8px solid;
			border-color: #d5dbd9 transparent transparent transparent;
			pointer-events: none;

		}
		.wrapper form .input-field input:focus, 
		.wrapper form .input-field textarea:focus, 
		.wrapper form .input-field select:focus{
			border: 1px solid #fec107;
		}
		
		.wrapper form .input-field p{
			padding-top: 12px;
			font-size: 15px;
			width: 100%;
			color: #757575;
		}
		.wrapper form .input-field .check{
			height: 14px;
			text-align: right;
			padding-right: 15px;
			position: relative;
			display: block;
			cursor: pointer;
		}
		.wrapper form .input-field .check input[type="checkbox"]{
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
		}
		.wrapper form .input-field .check .checkmark{
			height: 15px;
			width: 15px;
			border:  1px solid #f44336;
			position: absolute;
			display: block;
			top: 0;
			right: 0;
		}
		.wrapper form .input-field .check .checkmark:before{
			content: "";
			position: absolute;
			top: 2px;
			left: 3px;
			width: 5px;
			height: 2px;
			border: 2px solid;
			border-color: transparent transparent #fff #fff;
			transform: rotate(-45deg);
			display: none;
		}
		.wrapper form .input-field .check input[type="checkbox"]:checked ~ .checkmark{
			background: #f44336;
		}
		.wrapper form .input-field .check input[type="checkbox"]:checked ~ .checkmark:before{
			display: block;
		}
		.wrapper form .input-field .btn{
			width: 100%;
			padding: 8px 10px;
			font-size: 16px;
			border: 0;
			background: #f44336;
			color: #fff;
			cursor: pointer;
			border-radius: 3px;
			outline: none;
		}
		.wrapper form .input-field .btn:hover{
			background: #ff6559;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
		}
		.wrapper form .input-field:last-child{
			margin-bottom: 0;
		}
		@media (max-width:  420px){
			.wrapper form .input-field{
				flex-direction: column;
				align-items: flex-start;
			}
			.wrapper form .input-field label{
				margin-bottom: 5px;
			}
			.wrapper form .input-field.terms{
				flex-direction: row;
			}
			.wrapper form .input-field .check input[type="checkbox"]{
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				margin: 6px 0px;
			}
			.wrapper form .input-field .check{
				width: 20px;
			}
			.wrapper form .input-field .check .checkmark{
				position: absolute;
				top: 0;
				left: 0;
				margin: 6px 0px;
			}	
		}
		.footer{
			background-color: rgba(20, 20, 50, 0.6);
		}
		.footer h4, .footer p{
			color: #fff;
		}